.TagsInspector {
  display: flex;
  gap: 24px;
  width: 100%;
}

.TagsInspector .title {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--white);
  font-size: 14px;
  font-weight: 500;
}

.TagsInspector .title svg {
  width: 14px;
  height: 14px;
  color: var(--white);
}

.TagsInspector .tags-selector {
  width: 85%;
}

.TagsInspector .create-new-tag-option {
  width: 100%;
  border-top: 1px solid var(--base-10);
}
