.AppSettingsModal .FormContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  height: 100%;
  min-height: 0;
  overflow-y: auto;
  padding-right: 8px;
  margin-right: -8px;
}

.AppSettingsModal .ScenesFolderFormControl {
  gap: 16px;
}

.AppSettingsModal .ScenesFolderInputContainer {
  display: flex;
  gap: 12px;
  align-items: center;
}

.AppSettingsModal .ResetScenesFolderButton {
  flex-shrink: 0;
}

.AppSettingsModal .error {
  color: var(--error);
}

.AppSettingsModal .ScenesFolderInputAdornment {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-right: 8px;
}

.AppSettingsModal .DependencyUpdateFormGroup {
  gap: 16px;
}
