.AppSettingsModal .ScenesFolderFormControl {
  gap: 16px;
}

.AppSettingsModal .ScenesFolderInputContainer {
  display: flex;
  align-items: center;
}

.AppSettingsModal .ResetScenesFolderButton {
  flex-shrink: 0;
}

.AppSettingsModal .error {
  color: var(--error);
}

.AppSettingsModal .ScenesFolderInputAdornment {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-right: 8px;
}

.AppSettingsModal .DependencyUpdateFormGroup {
  gap: 16px;
}
