.Navbar {
  margin: 40px 0;
}

.Navbar .menu {
  display: flex;
  margin-left: 20px;
  gap: 8px;
}

.Navbar .logo img {
  width: 64px;
}

.Navbar .menu .menu-item {
  color: var(--text);
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
  text-transform: uppercase;
  padding: 19px 16px 17px 16px;
  color: #716b7c;
  text-decoration: none;
  box-sizing: border-box;
}

.Navbar .menu .menu-item:hover {
  background: #ffffff0d;
}

.Navbar .menu .menu-item.active {
  color: var(--text);
  border-bottom: 2px solid white;
}

.Navbar .feedback {
  border-radius: 6px;
  padding: 8px;
  text-transform: uppercase;
  border: 1px solid var(--text);
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

.Navbar .actions {
  display: flex;
  align-items: center;
  gap: 24px;
}
