.Assets {
  display: flex;
  flex-direction: column;
  flex: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.Assets .Assets-buttons span {
  font-size: 14px;
  line-height: 13px;
  font-weight: 500;
}

.Assets .Assets-buttons {
  padding-left: 8px;
  display: flex;
  background: var(--tree-bg-color);
  padding: 5px 0;
  position: relative;
  align-items: center;
  justify-content: center;
}

.Assets .Assets-buttons > div > div {
  display: flex;
  position: relative;
}

.Assets .Assets-buttons > div:hover > div::after,
.Assets .Assets-buttons > div > div.underlined::after {
  width: 100%;
}

.Assets .Assets-buttons .icon-custom-assets {
  background-image: url("./custom-asset-icon.svg");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 12px;
}

.Assets .Assets-buttons > div > div::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  height: 2px;
  background: var(--primary-main);
}

.Assets .Assets-buttons > div span {
  margin-left: 4px;
  margin-bottom: 4px;
}

.Assets .Assets-buttons > div {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  cursor: pointer;
  user-select: none;
}

.Assets .Assets-buttons .Assets-buttons-left {
  align-items: center;
  padding: 8px 9px;
  position: absolute;
  left: 0;
  gap: 12px;
}

.Assets .Assets-buttons .Assets-buttons-left button {
  margin: 3px;
  display: flex;
  align-items: center;
  padding: 8px 9px;
  font-weight: 600;
  border-radius: 6px;
}

.Assets .Assets-buttons .Assets-buttons-left .import-button svg {
  margin-right: 5px;
  stroke-width: 3;
}

.Assets .Assets-buttons .Assets-buttons-left .import-button:hover {
  background-color: var(--base-19);
}

.Assets .Assets-buttons .Assets-buttons-left .icon-item {
  width: 25px;
  height: 25px;
  padding: 5px;
  border-radius: 6px;
  color: var(--base-01);
  cursor: pointer;
}

.Assets .Assets-buttons .Assets-buttons-left button.icon-item {
  background-color: transparent;
  border: none;
  padding: 0;
  text-align: center;
}

.Assets .Assets-buttons .Assets-buttons-left .icon-item:hover {
  background-color: var(--background-gray);
}

.Assets .Assets-content {
  background: var(--tree-bg-color) !important;
  height: 100%;
}

.Assets .Assets-content.Hide {
  display: none;
}
