.Container {
  display: flex;
  flex-direction: column;
  padding: 12px;
  background: var(--base-19);
  border-radius: 4px;
  border-color: var(--base-19);
}

.Container.hover {
  background-color: var(--list-item-hover-bg-color);
}

.Container .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  user-select: none;
  gap: 4px;
}

.Container .title svg.icon {
  width: 14px;
  height: 14px;
  color: var(--neutral-grey-3);
}

.Container .title span {
  margin: 0;
  text-transform: uppercase;
  color: var(--neutral-grey-3);
  font-size: 16px;
  cursor: pointer;
  letter-spacing: 2px;
}

.Container .title .indicator {
  display: flex;
  align-self: baseline;
  font-size: 16px;
  color: var(--warning-main);
}

.Container .title .RightContent {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
}

.Container.open > .title {
  padding-bottom: 12px;
}

.Container > .title > .RightContent > .MoreOptionsMenu > .MoreOptionsContent {
  min-width: 175px;
}

/* Minimal style */
.Container.minimal {
  padding: 6px;
}

.Container.open.minimal > .title {
  border: none;
  padding: 0;
  font-size: 12px;
  color: var(--base-06);
}

.Container.minimal .title span {
  color: var(--base-06);
  font-size: 12px;
}

.Container.minimal .title+.content {
  margin-top: 8px;
}

.Container .content:has(.Block > .content > .Field),
.Container.with-gap > .content {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.Container.border {
  border-radius: 4px;
  border: 1px solid var(--base-14);
}

.Container.border .title span {
  color: var(--base-09);
  font-size: 14px;
  letter-spacing: 0;
  text-transform: none;
}
