.assetPreview {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
}

.assetPreview canvas {
  width: 100%;
}

.assetPreview .GltfPreview.hidden {
  visibility: hidden;
}

.assetPreview .loading {
  margin-bottom: 12px;
  width: 150px;
  height: 150px;
  background-color: var(--background-gray);
  background-size: cover;
  background-position: center;
}
