.AddUserWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
}

.AddUserWrapper .MuiOutlinedInput-notchedOutline {
  border-color: var(--transparent-gray-light);
}

.AddUserWrapper .AddUserActions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.AddUserWrapper .MuiButton-root {
  height: 40px;
  flex-shrink: 0;
}
