.Deploy {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 24px;
}

.Deploy > .Loader {
  top: -40px;
  position: relative;
}

.Deploy .ethereum {
  display: flex;
  gap: 8px;
}

.Deploy .chip {
  min-height: 24px;
  border-radius: 16px;
  padding: 4px 10px;
  font-size: 13px;
  line-height: 18px;
  background-color: rgba(255, 255, 255, 0.08);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 4px;
}

.Deploy .chip.network {
  background-color: #1f87e5;
  text-transform: uppercase;
}

.Deploy .chip.username .verified {
  display: inline-flex;
  width: 16px;
  height: 16px;
  background: center no-repeat url(images/verified.svg);
}

.Deploy .chip.parcel .pin {
  display: inline-flex;
  width: 16px;
  height: 16px;
  background: center no-repeat url(images/pin.svg);
}

.Deploy .scene {
  display: flex;
  gap: 32px;
}

.Deploy .scene .info {
  flex: 0 0 auto;
  width: 256px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.Deploy .scene .info .thumbnail {
  width: 100%;
  height: 160px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
}

.Deploy .scene .info .text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.Deploy .scene .files {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: stretch;
  flex: 1 1 auto;
}

.Deploy .scene .files .filters {
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  color: #a09ba8;
  background-color: rgba(255, 255, 255, 0.05);
  height: 48px;
  align-items: center;
  padding: 0px 16px;
  border-radius: 48px;
}

.Deploy .scene .files .filters .count {
  flex: none;
  text-transform: uppercase;
}

.Deploy .scene .files .filters .size {
  flex: none;
}

.Deploy .scene .files .list {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 400px;
}

.Deploy .scene .files .list .file {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  padding: 6px 16px;
  color: #a09ba8;
}

.Deploy .scene .files .list .file:last-child {
  border-bottom: none;
}

.Deploy .scene .files .actions {
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Deploy .scene .files .Button .deploy-icon {
  width: 24px;
  height: 24px;
  background: center no-repeat url(images/deploy.svg);
  margin-left: 8px;
}

.Deploy .scene .files .Button .Loader {
  margin-left: 12px;
}

.Deploy .scene .Button {
  font-size: 15px;
  padding: 8px 22px;
  max-height: 40px;
  flex: none;
}

.Deploy .scene .files .error {
  color: var(--error);
}

.Deploy .cli-publish-error {
  color: var(--dcl-silver);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}

.Deploy .Warning {
  width: 81px;
  height: 70px;
  background: center no-repeat url(images/warning.svg);
}

.Deploy .scene .success {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding-left: 32px;
  border-left: 1px solid var(--dark-gray);
}

.Deploy .scene .success .content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 320px;
  gap: 16px;
}

.Deploy .scene .success .content .success-icon {
  width: 80px;
  height: 80px;
  background: center no-repeat url(images/success.svg);
}

.Deploy .scene .success .content .message {
  color: var(--dcl-silver);
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.Deploy .scene .success .content .url {
  color: var(--light-gray);
  border: 1px solid var(--dark-gray);
  font-size: 13px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.46px;
  padding: 4px 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.Deploy .scene .success .content .jump-in-url label {
  color: var(--dcl-silver);
  line-height: 24px;
  font-size: 14px;
  letter-spacing: 0.17px;
  font-weight: 500;
  margin-bottom: 2px;
  display: block;
}

.Deploy .scene .success .content .jump-in-url .copy-icon {
  width: 18px;
  height: 18px;
  background: center no-repeat url(images/copy.svg);
  margin-left: 8px;
  display: inline-block;
  cursor: pointer;
}

.Deploy .scene .success .actions {
  flex: none;
  display: flex;
  justify-content: flex-end;
}

.Deploy .scene .success .Button .jump-in-icon {
  width: 24px;
  height: 24px;
  background: center no-repeat url(images/jump-in.svg);
  margin-left: 8px;
}
