.ProjectCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 256px;
  height: 240px;
  border-radius: 10px;
  background: var(--dark-gray);
  cursor: pointer;
}

.ProjectCard.has-thumbnail {
  position: relative;
  background-size: cover;
  background-position: center;
}

.ProjectCard .project-thumbnail {
  width: 100%;
  background-size: 100% 170px;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.ProjectCard .project-data {
  display: flex;
  flex-direction: row;
  padding: 10px;
  background-color: #313131;
  color: var(--text);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.ProjectCard .title-wrapper {
  display: flex;
  flex-direction: column;
  width: 180px;
  line-height: 24px;
}

.ProjectCard .title {
  font-size: 18px;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ProjectCard .description {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;
}

.ProjectCard .description .Icon {
  margin-right: 5px;
}

.ProjectCard .options-dropdown {
  height: 20px;
  visibility: hidden;
}

.ProjectCard:hover .options-dropdown {
  visibility: visible;
}
