.VideoScreenBasicViewInspector {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.VideoScreenBasicViewInspector > .Info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
  color: var(--base-08);
  font-size: 11px;
  font-weight: 400;
  padding: 4px 0;
}

.VideoScreenBasicViewInspector > .Info label {
  text-wrap: wrap;
  font-size: 11px;
  font-weight: 400;
}

.VideoScreenBasicViewInspector .DefaultMediaSourcesDropdown {
  margin-top: 6px;
}

.VideoScreenBasicViewInspector .DefaultMediaSourcesDropdown .OptionList {
  overflow: hidden;
}

.VideoScreenBasicViewInspector .Container.hover {
  background-color: var(--list-item-hover-bg-color);
}

.VideoScreenBasicViewInspector .Container.droppeable .FileUploadInput .InputContainer {
  border: 1px dashed var(--base-01);
}

.VideoScreenBasicViewInspector .PlayBack {
  margin-top: 10px;
}

.VideoScreenBasicViewInspector .PlayBack .CheckboxContainer {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.VideoScreenBasicViewInspector .LiveStreamSection .Info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
}

.VideoScreenBasicViewInspector .LiveStreamSection .Info label {
  text-wrap: wrap;
  font-size: 11px;
  font-weight: 400;
}
