.Editor {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.Editor .Header {
  height: 48px;
}

.Editor .Header .back {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 1px solid var(--dark-gray);
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.Editor .Header .back svg {
  width: 14px;
  height: 14px;
  margin-left: 5px;
  margin-top: 1px;
}

.Editor .Header .title {
  margin-left: 20px;
}

.Editor .inspector {
  flex: 1 0 auto;
  border: none;
}

.Editor .loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
}

/* TODO: update the Modal component in ui2 to allow providing a className to the Material Modal...*/
.MuiModal-root .PublishModal {
  display: flex;
  flex-direction: column;
}

.MuiModal-root .PublishModal .select,
.MuiModal-root .PublishModal .alternative_servers {
  text-align: center;
}

.MuiModal-root .PublishModal .options {
  display: flex;
  margin: 20px 0;
}

.MuiModal-root .PublishModal .options .OptionBox + .OptionBox {
  margin-left: 20px;
}

.MuiModal-root .PublishModal .alternative_servers {
  text-decoration: underline;
  text-transform: uppercase;
}
