.MoreOptionsMenu {
  position: relative;
  width: auto;
}

.MoreOptionsMenu .MoreOptionsButton.Button {
  background-color: transparent;
  border-color: transparent;
  color: white;
  transform: rotate(90deg);
  padding: 0;
}

.MoreOptionsMenu .MoreOptionsButton.Button:hover:not(:disabled) {
  background-color: transparent;
}

.MoreOptionsMenu .MoreOptionsContent {
  position: absolute;
  right: 0;
  padding: 4px 0;
  border-radius: 4px;
  background-color: var(--gray-0);
  min-width: 140px;
  z-index: 5;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.4);
}

/* legacy children (Button-based) support */
.MoreOptionsMenu .MoreOptionsContent .Button {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px 8px;
  width: 100%;
}

.MoreOptionsMenu .MoreOptionsContent .Button:not(:hover) {
  background-color: transparent;
}

.MoreOptionsMenu .MoreOptionsContent .Button:hover:not(:disabled) {
  background-color: var(--primary-main);
}
