.PlayVideoStreamActionContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 12px;
}

.PlayVideoStreamActionContainer .Block {
  margin: 0;
}

.PlayVideoStreamActionContainer.droppeable .FileUploadInput .InputContainer {
  border: 1px dashed var(--base-01);
}
