.SearchInput {
  width: 220px;
  height: 40px;
  border: 1px solid var(--transparent-gray-light);
}

.SearchInput input {
  padding: 12px;
  font-weight: 600;
}

.SearchInput svg {
  cursor: pointer;
}
