/* Select World Modal */
.MuiModal-root .SelectWorld {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.MuiModal-root .actions .MuiButton-root {
  height: 40px;
}

/* Selection */

.MuiModal-root .SelectWorld .selection {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.MuiModal-root .SelectWorld .selection .Row {
  gap: 8px;
}

.MuiModal-root .SelectWorld .selection .MuiSelect-select {
  display: flex;
  align-items: center;
}

.MuiModal-root .SelectWorld .selection .MuiOutlinedInput-notchedOutline {
  border-color: var(--transparent-gray-light);
}

.SelectWorld-WorldName .Loader {
  margin-right: 24px;
  width: max-content;
}

.SelectWorld-ENSProvider {
  width: 11rem;
}

.SelectWorld-WorldName {
  width: 100%;
}

.SelectWorld-ENSProvider-Img {
  height: 20px;
  width: 20px;
  margin-right: 8px;
}

.MuiModal-root .SelectWorld .actions {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  margin-top: auto;
}

.MuiModal-root .SelectWorld .actions:has(.ConfirmWorldReplaceContent) {
  justify-content: space-between;
}

.MuiModal-root .SelectWorld .actions .ConfirmWorldReplaceContent {
  display: flex;
  align-items: center;
}

.MuiModal-root .SelectWorld .WorldHasContent {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  border-radius: 8px;
  background-color: var(--card-on-modal);
}

.MuiModal-root .SelectWorld .WorldHasContent .WarningIcon {
  display: inline-flex;
  background-color: #ff7439;
  border-radius: 50%;
  padding: 4px;
}

/* Advanced Settings */

.MuiModal-root .SelectWorld .AdvancedSettings {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  padding: 12px 16px;
  background-color: var(--dark-gray);
  border-radius: 8px;
}

.MuiModal-root .SelectWorld .AdvancedSettings > .Row {
  align-items: flex-start;
  gap: 12px;
}

.MuiModal-root .SelectWorld .AdvancedSettingsHeaderTexts {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.MuiModal-root .SelectWorld .AdvancedSettingsDescription {
  font-weight: 500;
  white-space: pre-line;
}

.MuiModal-root .SelectWorld .MuiSwitch-root {
  margin-top: -6px;
}

.MuiModal-root .SelectWorld .WorldInfoItem {
  display: flex;
  gap: 4px;
  align-items: center;
  color: var(--dcl-silver);
  font-weight: 500;
}

.MuiModal-root .SelectWorld .WorldInfoItem .MuiSvgIcon-root {
  width: 16px;
  height: 16px;
}

.MuiModal-root .SelectWorld .WorldInfo {
  width: calc(100% - 32px);
  margin-left: auto;
  display: flex;
  gap: 16px;
  background-color: var(--black);
  border-radius: 6px;
  overflow: hidden;
}

.MuiModal-root .SelectWorld .WorldInfo .WorldThumbnail {
  width: 144px;
  height: 90px;
  flex-shrink: 0;
  background-color: var(--dark-gray);
}

.MuiModal-root .SelectWorld .WorldInfo .WorldThumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.MuiModal-root .SelectWorld .WorldInfo .WorldInfoContent {
  flex: 1;
  padding: 8px 0;
  overflow: hidden;
}

.MuiModal-root .SelectWorld .WorldInfo .CurrentWorldLabel {
  font-size: 12px;
  color: var(--dropdown);
  text-transform: uppercase;
}

.MuiModal-root .SelectWorld .WorldInfo .WorldTitle {
  font-weight: 600;
  color: var(--white);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.MuiModal-root .SelectWorld .WorldInfo .WorldMetadata {
  gap: 24px;
}

.MuiModal-root .SelectWorld .WorldInfo .WorldSettingsButton {
  margin: auto 8px 8px 0;
  height: max-content;
}

/* Select Location Modal */
.MuiModal-root .SelectLocation {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.MuiModal-root .SelectLocation .actions {
  display: flex;
  gap: 16px;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  margin-top: auto;
}

.MuiModal-root .SelectLocation .SelectedParcelInfo {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-left: auto;
}

.MuiModal-root .SelectLocation .SelectedParcelInfo .MuiSvgIcon-root {
  width: 16px;
  height: 16px;
  color: var(--text-on-secondary);
}

/* Confirm Overwrite Modal */
.MuiModal-root .ConfirmOverwrite {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 520px;
  margin: auto;
  padding: 32px 32px 24px;
  border-radius: 8px;
  background-color: var(--black);
  text-align: center;
}

.MuiModal-root .ConfirmOverwrite .ScenesList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.MuiModal-root .ConfirmOverwrite .ScenesList li span {
  color: var(--dcl-silver);
}

.MuiModal-root .ConfirmOverwrite .actions {
  display: flex;
  gap: 6px;
  width: 100%;
  align-items: center;
  margin-top: 16px;
}

/* Empty Names Modal */
.MuiModal-root .EmptyNames {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.MuiModal-root .EmptyNames .thumbnail {
  width: 250px;
}

.MuiModal-root .EmptyNames .actions {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.MuiModal-root .EmptyNames .actions .MuiButton-root {
  width: 450px;
  margin-left: 0;
}
