/* Select World Modal */
.MuiModal-root .SelectWorld {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.MuiModal-root .SelectWorld .selection {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;
  width: 100%;
}

.MuiModal-root .SelectWorld .selection .Row {
  gap: 8px;
}

.MuiModal-root .SelectWorld .selection .MuiSelect-select {
  display: flex;
  align-items: center;
}

.MuiModal-root .SelectWorld .selection .MuiOutlinedInput-notchedOutline {
  border-color: var(--transparent-gray-light);
}

.MuiModal-root .SelectWorld .selection #world-name-label {
  transform: translate(0, -9px) scale(0.75);
}

.SelectWorld-ENSProvider {
  width: 11rem;
}

.SelectWorld-WorldName {
  width: 100%;
}

.SelectWorld-ENSProvider-Img {
  height: 20px;
  width: 20px;
  margin-right: 8px;
}

.MuiModal-root .SelectWorld .actions {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.MuiModal-root .SelectWorld .actions:has(.ConfirmWorldReplaceContent) {
  justify-content: space-between;
}

.MuiModal-root .SelectWorld .actions .ConfirmWorldReplaceContent {
  display: flex;
  align-items: center;
}

.MuiModal-root .SelectWorld .WorldHasContent {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  border-radius: 8px;
  background-color: var(--card-on-modal);
}

.MuiModal-root .SelectWorld .WorldHasContent .WarningIcon {
  display: inline-flex;
  background-color: #ff7439;
  border-radius: 50%;
  padding: 4px;
}

/* Empty Names Modal */
.MuiModal-root .EmptyNames {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.MuiModal-root .EmptyNames .thumbnail {
  width: 250px;
}

.MuiModal-root .EmptyNames .actions {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.MuiModal-root .EmptyNames .actions .MuiButton-root {
  width: 450px;
  margin-left: 0;
}
