.SceneList .project-cards {
  position: relative;
}

.SceneList .subtitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.SceneList .SceneList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 12px;
}

.SceneList .ProjectCard {
  transition: transform 0.2s ease-in-out;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
}

.SceneList .ProjectCard:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.24);
  transform: translateY(-4px);
}

.SceneList .projects-menu .items-count {
  flex: 1 0 auto;
  color: var(--light-gray);
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
}

.SceneList .projects-menu .actions {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  justify-content: flex-end;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.SceneList .no-scenes-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 50px 0;
  background: #242129;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.SceneList .no-scenes-title {
  font-size: 24px;
}

.SceneList .no-scenes-description {
  color: white;
  width: 100%;
  max-width: 620px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 36px;
}

.SceneList .no-scenes-description a {
  color: white;
  text-decoration: underline;
}
