.SceneList .subtitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.SceneList .projects-menu .items-count {
  flex: 1 0 auto;
  color: var(--light-gray);
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
}

.SceneList .projects-menu .actions {
  display: flex;
  flex: 1 0 auto;
  align-items: stretch;
  justify-content: flex-end;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.SceneList .projects-menu .actions .MuiInputBase-root,
.SceneList .projects-menu .actions .MuiInputBase-root svg {
  color: var(--dcl);
}

.SceneList .projects-menu .actions .MuiInputBase-root::before,
.SceneList .projects-menu .actions .MuiInputBase-root::after {
  border: none;
}

.SceneList .no-scenes-container {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;
  padding: 64px;
}

.SceneList .no-scenes-card {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  width: calc(768px - 64px * 2);
  padding: 64px;
  display: flex;
  flex: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 64px;
}

.SceneList .no-scenes-card-text {
  display: flex;
  flex: none;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.SceneList .no-scenes-card-button {
  display: flex;
  flex: none;
  gap: 32px;
  background-image: url(./empty-state-button.svg);
  width: 256px;
  height: 234px;
  cursor: pointer;
}

.SceneList .no-scenes-title {
  font-size: 24px;
}

.SceneList .no-scenes-description {
  color: rgba(255, 255, 255, 0.8);
  width: 100%;
  max-width: 620px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.SceneList .no-scenes-description a {
  color: white;
  text-decoration: underline;
}

.SceneList .new-scene {
  flex: none;
  width: 256px;
  height: 234px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(./new-scene-button.svg);
  cursor: pointer;
}
