.ManagePage .Card {
  position: relative;
  width: max-content;
  height: 100%;
  margin: 0 auto;
  background: #ffffff0d;
  padding: 32px;
  box-shadow: none;
}

.ManagePage .Card .CardContent.CenteredContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ManagePage .Card .CardContent .Title {
  text-align: center;
  text-wrap: pretty;
  text-transform: uppercase;
}

.ManagePage .Card.SignInCard .CardContent {
  height: 100%;
  box-sizing: border-box;
}

.ManagePage .Card.SignInCard .CardContent > .SignInButton.MuiButton-root {
  /* TODO: Fix buttons color mapping in ui2 library */
  background-color: var(--white) !important;
  color: var(--black);
}

.ManagePage .Card.SignInCard .CardContent > .SignInButton.MuiButton-root:hover {
  background: var(--secondary-light);
}

.ManagePage .Card.SignInCard .SignInButton:hover {
  color: var(--black) !important;
}
