.WorldPermissionsParcelsTab {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.WorldPermissionsParcelsTab .HeaderTitle {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 8px;
}

.WorldPermissionsParcelsTab .HeaderTitle .MuiSvgIcon-root {
  color: var(--dcl-silver);
  width: 24px;
  height: 24px;
}

.WorldPermissionsParcelsTab .HeaderTitle .MuiSvgIcon-root:hover {
  color: var(--white);
  cursor: pointer;
}

.WorldPermissionsParcelsTab .Description {
  color: var(--dcl-silver);
  margin-bottom: 8px;
}

.WorldPermissionsParcelsTab .AtlasHeader {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 8px 16px;
  background-color: var(--black);
  border-radius: 8px 8px 0 0;
}

.WorldPermissionsParcelsTab .ParcelsCount {
  border: 1px solid var(--dark-gray);
  background-color: rgba(36, 33, 41, 0.5);
}
