.ProjectStepWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* Chips List */

.ProjectStepWrapper .ChipsContainer {
  display: flex;
  gap: 8px;
}

.ProjectStepWrapper .chip {
  min-height: 24px;
  border-radius: 16px;
  padding: 4px 10px;
  font-size: 13px;
  line-height: 18px;
  background-color: var(--transparent-gray-dark);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 6px;
}

.ProjectStepWrapper .network {
  background-color: #1f87e5;
  text-transform: uppercase;
}

.ProjectStepWrapper .username .verified {
  display: inline-flex;
  width: 16px;
  height: 16px;
  background: center no-repeat url(../images/verified.svg);
}

.ProjectStepWrapper .chip.parcel .pin {
  width: 18px;
  height: 18px;
}

/* Project Info Container */

.ProjectStepWrapper .ProjectContainer {
  flex: 1;
  display: flex;
  gap: 24px;
}

.ProjectStepWrapper .ProjectContainer .info {
  flex: 0 0 auto;
  width: 256px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-right: 24px;
  border-right: 1px solid var(--dark-gray);
}

.ProjectStepWrapper .ProjectContainer .info .thumbnail {
  width: 100%;
  height: 160px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
}

.ProjectStepWrapper .ProjectContainer .info .text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ProjectStepWrapper .ProjectContainer .info .text .parcels {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 500;
  font-size: 12px;
  color: var(--dcl-silver);
}

.ProjectStepWrapper .ProjectContainer .info .text .parcels .MuiSvgIcon-root {
  width: 12px;
  height: 12px;
}

/* Wrapper Content */

.ProjectStepWrapper .ProjectContainer .content {
  width: 600px;
  min-height: 475px;
  max-height: 550px;
  overflow: auto;
  position: relative;
}
