.Pill {
  display: flex;
  align-items: center;
  padding: 0px 4px;
  background: var(--base-02);
  border-radius: 20px;
  max-width: 100%;
  min-width: 0;
  box-sizing: border-box;
}

.Pill > .Content {
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
  color: var(--base-21);
  padding: 2px 0 2px 2px;
}

.Pill > .CloseIcon {
  cursor: pointer;
  color: var(--base-12);
}

.Pill > .CloseIcon:hover {
  color: var(--base-16);
}
