/* Modal Container Styles */
.MuiBackdrop-root:has(.TabsModal) {
  transition: none !important;
}

.MuiPaper-root:has(.TabsModal) {
  background-image: none;
  background-color: var(--black);
  padding: 0;
  width: max-content;
}

.MuiPaper-root .MuiBox-root:has(.TabsModal) {
  padding: 0;
}

.TabsModal {
  width: 625px;
  height: 680px;
  max-width: 90vw;
  max-height: 90vh;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  background-color: #0000001a;
}

/* Header Styles */
.TabsModal .TabsModalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 8px;
  border-bottom: 1px solid var(--light-gray);
}

.TabsModal .TabsModalHeader .TabsModalTitle {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 8px;
  color: var(--light-gray);
}

.TabsModal .MuiBox-root.TabsModalHeader .MuiBox-root.TabsModalTitle {
  padding: 0;
}

.TabsModal .TabsModalTitle h6 {
  font-size: 16px;
  font-weight: 400;
}

/* Layout Styles */
.TabsModal .TabsModalLayout {
  width: 100%;
  flex: 1;
  display: flex;
  position: relative;
}

.TabsModal .TabsModalLayout.Vertical {
  flex-direction: row;
  overflow: hidden;
}

.TabsModal .TabsModalLayout.Horizontal {
  flex-direction: column;
  background-color: var(--darker-gray);
  padding: 0 32px;
  gap: 24px;
  overflow: auto;
}

/* TabsList Styles */

.TabsModal .Vertical .TabsList {
  flex-shrink: 0;
  height: 100%;
  min-width: 160px;
  padding: 16px 0;
}

.TabsModal .Horizontal .TabsList {
  flex-shrink: 0;
  width: 100%;
  padding-top: 24px;
  background-color: var(--darker-gray);
  position: sticky;
  top: 0;
  z-index: 1;
}

.TabsModal .TabsModalTab {
  text-transform: uppercase;
  align-items: flex-start;
  min-height: 42px;
  font-family: var(--font-family);
  font-weight: 600;
  color: var(--text-on-secondary);
}

.TabsModal .TabsModalTab:hover {
  color: rgba(255, 255, 255, 0.8);
}

.TabsModal .TabsModalTab.Mui-selected {
  color: var(--dcl);
  background-color: var(--darker-gray);
}

/* Content Area Styles */
.TabsModal .TabsModalContent {
  flex: 1;
  width: 100%;
}

.TabsModal .Vertical .TabsModalContent {
  background-color: var(--darker-gray);
  padding: 24px 32px 0px;
  height: 100%;
  overflow: auto;
}

.TabsModal .Horizontal .TabsModalContent {
  padding: 0px;
  height: max-content;
}

.TabsModal .TabsModalContent > div:first-of-type {
  padding-bottom: 24px;
}
