/* Base item styles */
.WorldPermissionsItem {
  width: 100%;
  height: 64px;
  padding: 8px 16px;
  display: grid;
  gap: 10px;
  align-items: center;
  justify-items: start;
  grid-template-columns: 1fr 180px 32px;
}

.WorldPermissionsItem {
  border-top: 1px solid var(--dark-gray);
}

.WorldPermissionsItemInfo {
  align-items: center;
  gap: 8px;
}

/* Collaborator item styles */
.WorldPermissionsItem .DeploymentOptionSelect {
  padding: 4px 10px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  background-color: var(--dark-gray);
}

.WorldPermissionsItem .DeploymentOptionSelect.Mui-focused {
  background-color: var(--light-gray);
}

.DeploymentOptionMenuItem.MuiMenuItem-root {
  min-width: 240px;
  justify-content: space-between;
  gap: 12px;
}

.DeploymentOptionMenuItem.MuiMenuItem-root.Mui-selected,
.DeploymentOptionMenuItem.MuiMenuItem-root.Mui-selected:hover {
  background-color: transparent;
}

.DeploymentOptionMenuItem.MuiMenuItem-root.Mui-selected .MuiSvgIcon-root {
  color: var(--dcl-silver);
}

/* Role badge styles */
.WorldPermissionsItem .RoleBadge {
  font-size: 13px;
  font-weight: 600;
  background-color: var(--dark-gray);
}
