.Dropdown .MuiPaper-root {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
}

.Dropdown ul.MuiMenu-list {
  min-width: 200px;
}

.Dropdown li.MuiMenuItem-root {
  gap: 8px;
}

.Dropdown li.MuiMenuItem-root svg {
  color: var(--text-on-secondary);
}
