.Title {
  display: flex;
}

.Title > .header {
  display: flex;
  align-items: center;
  gap: 16px;
  flex: none;
  cursor: pointer;
}

.Title .header .back {
  display: inline-flex;
  width: 45px;
  height: 45px;
  background: no-repeat center/contain url(./images/back.svg);
}

.Title > .header:hover .back {
  background-color: var(--transparent-gray-dark);
  border-radius: 100%;
}
