:root {
  /* Colors */
  --bg: #16141A;
  --metaverse-gradient: linear-gradient(to bottom, #060d2b, #132d7d 52%, #9763c1);
  --purple-banner: #691ea9;
  --purplish-grey-raw: 115, 110, 125;
  --white: #FFFFFF;

  --light-gray: #736e7d;
  --dark-gray: #43404A;
  --darker-gray: #242129;

  --dcl: #FF2D55;
  --dcl-dark: #9c1c34;

  /* Share */
  --facebook: #4267b2;
  --twitter: #1da1f2;

  /* Dropdowns */
  --translusent-gray: rgba(255, 255, 255, 0.08);

  /* fonts */
  --font-family: system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  --font-monospace: 'Inconsolata', 'Consolas', 'Droid Sans Mono', 'Monaco',
    'Courier New', monospace;
}

html {
  background-color: var(--bg);
  color: var(--white);
  font-family: var(--font-family);
}

body {
  padding: 0 20px;
}

/* Temp: override the default position so the Modal component is visible */
.MuiDialog-paper {
  position: inherit !important;
}
