.Step {
  display: flex;
  align-items: center;
  color: var(--white);
}

.Step .bullet,
.Step.idle .bullet {
  background-color: var(--light-gray);
  border-radius: 50%;
  color: var(--darker-gray);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.Step.pending .bullet,
.Step.complete .bullet,
.Step.failed .bullet {
  background-color: var(--primary);
}

.Step.complete .bullet,
.Step.failed .bullet {
  color: var(--white);
}

.Step .body {
  display: flex;
  flex-direction: column;
}

.Step .body h4 {
  margin: 0;
  line-height: 20px;
  font-weight: 100;
}

.Step.pending .body h4 {
  font-weight: 700;
}

.Step .body span {
  font-size: 14px;
}

.ConnectedSteps {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ConnectedSteps .Step {
  position: relative;
}

.ConnectedSteps .Step:not(:last-child)::after {
  content: '';
  background-color: var(--dcl-silver);
  width: 81px;
  height: 1px;
  position: absolute;
  left: 110%;
}
