.MobileQRCodeContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px 24px;
}

.MobileQRCodeContent .QRContainer {
  margin-bottom: 16px;
  padding: 16px;
  background-color: white;
  border-radius: 8px;
}

.MobileQRCodeContent .QRImage {
  width: 200px;
  height: 200px;
  display: block;
}

.MobileQRCodeContent .Url {
  color: var(--dcl-silver);
  word-break: break-all;
  font-size: 12px;
  text-align: center;
  margin-bottom: 16px;
}

.MobileQRCodeContent .Disclaimer {
  color: var(--dcl-silver);
  font-size: 12px;
  text-align: center;
  font-style: italic;
}
