.MobileQRCodeModal {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  align-items: center;
}

.MobileQRCodeModal .message {
  text-align: center;
  color: var(--dcl-silver);
}

.MobileQRCodeModal .QRContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background: white;
  border-radius: 8px;
}

.MobileQRCodeModal .qr-image {
  width: 200px;
  height: 200px;
}

.MobileQRCodeModal .UrlContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.MobileQRCodeModal .url {
  color: var(--dcl-silver);
  word-break: break-all;
  text-align: center;
}

.MobileQRCodeModal .ButtonContainer {
  display: flex;
  justify-content: center;
}
