.EntityInspector {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 8px;
  background-color: var(--base-20);
  overflow-y: auto;
  gap: 12px;
}

.EntityInspector > .with-context-menu:empty {
  display: none;
}
