.ManagedProjectsList {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.ManagedProjectsList .LoadMoreContainer {
  width: 100%;
  flex-shrink: 0;
  text-align: center;
  margin-top: 16px;
}

.ManagedProjectsList .LoadMoreContainer .MuiButton-root {
  height: 40px;
  background-color: var(--white);
  color: var(--black);
  padding: 8px 22px;
}
