.Header.Navbar > .user > .SignInButton {
  background-color: transparent !important;
  color: var(--text) !important;
  border: 1px solid var(--transparent-gray-light);
  border-radius: 12px;
  box-shadow: none;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 7px 16px;
}

.Header.Navbar > .user > .SignInButton:hover {
  background-color: var(--transparent-gray-dark) !important;
  border-color: var(--text);
}

.Header.Navbar > .user > .AvatarButton:hover {
  background-color: transparent;
}
