/* Transform Inspector specific styles */
.Container.Transform .Block .content {
  display: grid;
  grid-template-columns: 60px 1fr 1fr 1fr;
  gap: 8px;
  align-items: center;
}

.Container.Transform .Block > .Label {
  grid-column: 1;
}

.Container.Transform .Block.scale-container {
  grid-column: 1;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.Container.Transform .Block.scale-container > .Label {
  margin-bottom: 0;
}

.Container.Transform .Block.scale-container .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.Container.Transform .Block.scale-container .Link {
  height: 15px;
  width: 15px;
}
