.Box {
  height: calc(100% - 4.8px);
}

.Box {
  border-radius: 2.4px;
}

.Box > .content {
  border: 1px solid var(--main-bg-color);
  background: var(--main-bg-color);
  width: 100%;
  height: 100%;
  position: relative;
}
