name: CI
# This workflow is the entry point for all CI processes.
# It is from here that all other workflows are launched.
on:
  workflow_dispatch:
  push:
    branches:
      - main
      - 'renovate/**'
    paths-ignore:
      - '**.md'
      - .editorconfig
      - .gitignore
      - '.idea/**'
      - '.vscode/**'
  pull_request:
    paths-ignore:
      - '**.md'
      - .editorconfig
      - .gitignore
      - '.idea/**'
      - '.vscode/**'

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    uses: ./.github/workflows/lint.yml
  typechecking:
    uses: ./.github/workflows/typechecking.yml
  tests:
    uses: ./.github/workflows/tests.yml
  drop_pre_release:
    name: drop pre-release
    needs: [ lint, typechecking, tests ]
    uses: ./.github/workflows/drop.yml
    permissions:
      contents: write
    with:
      # dry-run == false only if we are on main branch and the event is a push or workflow_dispatch
      dry-run: ${{ !((github.event_name == 'push' || github.event_name == 'workflow_dispatch') && github.ref_name == 'main') }}
  asset-packs:
    needs: [ drop_pre_release ]
    uses: ./.github/workflows/asset-packs.yml
    secrets: inherit
  inspector:
    needs: [ asset-packs ]
    uses: ./.github/workflows/inspector.yml
    secrets: inherit
    with:
      asset_packs_s3_bucket_key: ${{ needs.asset-packs.outputs.s3_bucket_key }}
      asset_packs_version: ${{ needs.asset-packs.outputs.version }}
      asset_packs_changed: ${{ needs.asset-packs.outputs.changed == 'true' }}
  creator-hub:
    needs: [ inspector ]
    uses: ./.github/workflows/creator-hub.yml
    secrets: inherit
    with:
      # dry-run == false only if we are on main branch and the event is a push or workflow_dispatch
      dry-run: ${{ !((github.event_name == 'push' || github.event_name == 'workflow_dispatch') && github.ref_name == 'main') }}
      inspector_s3_bucket_key: ${{ needs.inspector.outputs.s3_bucket_key }}
      inspector_version: ${{ needs.inspector.outputs.version }}
      inspector_changed: ${{ needs.inspector.outputs.changed == 'true' }}
