name: E2E Tests
on:
  pull_request:
    branches: [ main ]

defaults:
  run:
    shell: 'bash'

jobs:
  test:
    timeout-minutes: 60
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-node@v4
      with:
        node-version: 22.12.0

    - name: Install dependencies
      run: npm ci

    - name: Build
      run: npm run build
      env:
        NODE_OPTIONS: "--max-old-space-size=8192"
        MODE: production
        E2E: true
        E2E_WALLET: ${{ secrets.E2E_WALLET }}

    - name: Run Playwright tests
      run: npx playwright test
      env:
        E2E_NAME: ${{ secrets.E2E_NAME }}
        E2E_PRIVATE_KEY: ${{ secrets.E2E_PRIVATE_KEY }}
        E2E_EXPIRATION_MINUTES: 10

    - name: Upload failure artifacts
      if: ${{ failure() }}
      uses: actions/upload-artifact@v4
      with:
        name: e2e-failures
        path: |
          test-results/**/*.png
          test-results/**/*.webm
          test-results/**/*.zip
