name: Release
on:
  workflow_call:
    inputs:
      dry-run:
        description: 'Compiles the app but not upload artifacts to distribution server'
        default: false
        required: false
        type: boolean
    secrets:
      MACOS_CSC_LINK:
        description: 'Certificate to sign dmg file'
        required: true
      MACOS_CSC_KEY_PASSWORD:
        description: 'Password to decrypt the certificate file'
        required: true
      MACOS_NOTARIZATION_APPLE_ID:
        description: 'Apple ID used for notarization'
        required: true
      MACOS_NOTARIZATION_TEAM_ID:
        description: 'Team ID used for notarization'
        required: true
      MACOS_NOTARIZATION_PWD:
        description: 'Password used for notarization'
        required: true
      VITE_SEGMENT_CREATORS_HUB_API_KEY:
        description: 'Segment API key used for the Creators Hub'
        required: true
      VITE_SEGMENT_INSPECTOR_API_KEY:
        description: 'Segment API key used for the Inspector'
        required: true
      VITE_ALLOWED_EXTERNAL_ORIGINS:
        description: 'Allowed external origins for the app'
        required: true
      SDK_TEAM_AWS_ID:
        required: true
      SDK_TEAM_AWS_SECRET:
        required: true
      SDK_TEAM_S3_BUCKET:
        required: true
      SDK_TEAM_S3_BASE_URL:
        required: true
      ES_USERNAME:
        description: 'Username to sign exe file'
        required: true
      ES_PASSWORD:
        description: 'Password to sign the exe file'
        required: true
      WINDOWS_CREDENTIAL_ID_SIGNER:
        description: 'Certificate to sign the exe file'
        required: true
      ES_TOTP_SECRET:
        description: 'Password to decrypt the certificate file'
        required: true

concurrency:
  group: release-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: 'bash'

jobs:
  draft_release:
    strategy:
      fail-fast: true
      matrix:
        os: [ macos-latest, windows-latest ]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - uses: actions/setup-node@v4
        with:
          cache: 'npm'

      - name: 'Install dependencies'
        run: npm ci
        env:
          PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: 1

      - name: 'Build'
        run: echo MODE=$MODE && npm run build
        env:
          MODE: ${{ !inputs.dry-run && 'production' || 'development' }}
          VITE_SEGMENT_CREATORS_HUB_API_KEY: ${{ secrets.VITE_SEGMENT_CREATORS_HUB_API_KEY }}
          VITE_SEGMENT_INSPECTOR_API_KEY: ${{ secrets.VITE_SEGMENT_INSPECTOR_API_KEY }}
          VITE_ALLOWED_EXTERNAL_ORIGINS: ${{ secrets.VITE_ALLOWED_EXTERNAL_ORIGINS }}


      - name: Save APPLE_TEAM_ID into electron-builder.yml
        # This is necessary for the notarization of the app in MacOS to work
        if: ${{github.ref == 'refs/heads/main' && matrix.os == 'macos-latest' && !inputs.dry-run}}
        env:
          APPLE_TEAM_ID: ${{ secrets.MACOS_NOTARIZATION_TEAM_ID }}
        run: sed -e "s|\$APPLE_TEAM_ID|$APPLE_TEAM_ID|" electron-builder.yml > electron-builder-with-apple-team-id.yml && mv electron-builder-with-apple-team-id.yml electron-builder.yml

      - name: Generate release version
        id: version
        uses: paulhatch/semantic-version@v5.4.0
        with:
          tag_prefix: ""
          version_format: ${major}.${minor}.${patch}
          major_pattern: "/^(major|breaking).+/"
          minor_pattern: "/^(minor|feat).+/"
          bump_each_commit: false
          bump_each_commit_patch_pattern: "/^(patch|fix).+/"
          search_commit_body: true
          user_format_type: "json"

      - name: Compile artifacts ${{ inputs.dry-run && ' ' || 'and upload them to github release' }}
        # I use this action because it is capable of retrying multiple times if there are any issues with the distribution server
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 60
          max_attempts: 6
          retry_wait_seconds: 15
          retry_on: error
          shell: 'bash'
          # Due to this issue https://github.com/electron-userland/electron-builder/issues/6411 the build with npx when rebuilding native dependencies hangs forever
          # see https://github.com/cawa-93/vite-electron-builder/pull/953
          command: ./node_modules/.bin/electron-builder --config electron-builder.yml --config.extraMetadata.version=${{ steps.version.outputs.version }} --publish ${{ inputs.dry-run && 'never' || 'always' }}
        env:
          # Code Signing params
          # See https://www.electron.build/code-signing
          CSC_LINK: ${{ secrets.MACOS_CSC_LINK }}
          CSC_KEY_PASSWORD: ${{ secrets.MACOS_CSC_KEY_PASSWORD }}
          # Notarization params
          # See https://www.electron.build/configuration/mac#NotarizeNotaryOptions
          APPLE_ID: ${{ secrets.MACOS_NOTARIZATION_APPLE_ID }}
          APPLE_TEAM_ID: ${{ secrets.MACOS_NOTARIZATION_TEAM_ID }}
          APPLE_APP_SPECIFIC_PASSWORD: ${{ secrets.MACOS_NOTARIZATION_PWD }}
          # Publishing artifacts
          GH_TOKEN: ${{ secrets.github_token }} # GitHub token, automatically provided (No need to define this secret in the repo settings)

      - name: Sign Windows Build (exe)
        uses: sslcom/esigner-codesign@develop
        if: ${{github.ref == 'refs/heads/main' && matrix.os == 'windows-latest' && !inputs.dry-run}}
        with:
          command: sign
          username: ${{ secrets.ES_USERNAME }}
          password: ${{ secrets.ES_PASSWORD }}
          credential_id: ${{ secrets.WINDOWS_CREDENTIAL_ID_SIGNER }}
          totp_secret: ${{ secrets.ES_TOTP_SECRET }}
          file_path: ${GITHUB_WORKSPACE}/dist/Creators Hub-${{ steps.version.outputs.version }}-win-x64.exe
          output_path: ${GITHUB_WORKSPACE}/dist/signed
          malware_block: false
          environment_name: PROD
          signing_method: v2

      - name: Replace signed exe
        if: ${{github.ref == 'refs/heads/main' && matrix.os == 'windows-latest' && !inputs.dry-run}}
        shell: pwsh
        run: |
          Copy-Item -Path "${env:GITHUB_WORKSPACE}\dist\signed\Creators Hub-${{ steps.version.outputs.version }}-win-x64.exe" -Destination "${env:GITHUB_WORKSPACE}\dist\Creators Hub-${{ steps.version.outputs.version }}-win-x64.exe" -Force

      - name: Get draft release
        if: ${{github.ref == 'refs/heads/main' && matrix.os == 'windows-latest' && !inputs.dry-run}}
        id: draft_release
        uses: kaliber5/action-get-release@v1
        with:
          token: ${{ github.token }}
          draft: true
          tag_name: ${{ steps.version.outputs.version }}

      - name: 'Overwrite exe in draft release with signed one'
        if: ${{github.ref == 'refs/heads/main' && matrix.os == 'windows-latest' && !inputs.dry-run}}
        uses: shogo82148/actions-upload-release-asset@v1
        with:
          upload_url: ${{ steps.draft_release.outputs.upload_url }}
          asset_path: ${env:GITHUB_WORKSPACE}\dist\Creators Hub-${{ steps.version.outputs.version }}-win-x64.exe
          asset_name: Creators Hub-${{ steps.version.outputs.version }}-win-x64.exe
          overwrite: true

      - name: Move artifacts to upload folder
        if: ${{ github.event.pull_request.number }}
        run: sh -c 'mkdir dist/upload && cp dist/*.dmg dist/*.exe dist/upload 2> /dev/null || :'

      - name: Upload to S3
        if: ${{ github.event.pull_request.number }}
        uses: shallwefootball/s3-upload-action@master
        id: upload
        with:
          aws_key_id: ${{ secrets.SDK_TEAM_AWS_ID }}
          aws_secret_access_key: ${{ secrets.SDK_TEAM_AWS_SECRET }}
          aws_bucket: ${{ secrets.SDK_TEAM_S3_BUCKET }}
          source_dir: 'dist/upload'
          destination_dir: '@dcl/creators-hub/branch/${{ github.head_ref }}'

      # Have to write the URL's to a file so GH Actions don't mask them for being possibly sensitive data (secrets.SDK_TEAM_S3_BASE_URL is not sensitive data)
      - name: Update S3 URL's to CDN
        if: ${{ github.event.pull_request.number }}
        id: update-urls
        run: |
          urls='${{ steps.upload.outputs.object_locations }}'
          echo "$urls" | jq -r '.[]' | sed -e 's|https://\*\*\*.s3.amazonaws.com|${{ secrets.SDK_TEAM_S3_BASE_URL }}|' -e 's|\+|%20|g' | \
          while read url; do
            arch=$(echo "$url" | grep -oE '(win-x64|mac-x64|mac-arm64|linux-x64)') # Extract architecture
            echo "[$arch]($url)"  # Format as markdown link
          done >> urls.md

      - name: Set output with URLs
        if: ${{ github.event.pull_request.number }}
        id: url-list
        run: |
          content=$(cat urls.md)
          echo "list<<EOF" >> $GITHUB_ENV
          echo "$content" >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV

      - name: Set specific macos instructions
        if: ${{ github.event.pull_request.number && matrix.os == 'macos-latest' }}
        id: macos-instructions
        run: |
          content=$(cat ./.github/workflows/macos-instructions.md)
          echo "macos-instructions<<EOF" >> $GITHUB_ENV
          echo "$content" >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV

      - name: Find Comment
        if: ${{ github.event.pull_request.number }}
        uses: peter-evans/find-comment@v1
        id: fc
        with:
          issue-number: ${{ github.event.pull_request.number }}
          comment-author: 'github-actions[bot]'
          body-includes: Test this pull request on ${{ matrix.os }}

      - name: Create or update comment
        if: ${{ github.event.pull_request.number }}
        uses: peter-evans/create-or-update-comment@v1
        with:
          comment-id: ${{ steps.fc.outputs.comment-id }}
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            # Test this pull request on ${{ matrix.os }}
            #### Download the correct version for your architecture:
              ${{ env.list }}

              ${{ env.macos-instructions }}
          edit-mode: replace
