.WorldCollaboratorsTab {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.WorldCollaboratorsTab > .MuiTypography-h6 {
  display: block;
  white-space: pre-line;
  color: var(--text-on-secondary);
  font-size: 14px;
  font-weight: 400;
}

.WorldCollaboratorsTab > .MuiTypography-h6 span {
  color: var(--white);
  font-weight: 500;
}

.WorldCollaboratorsTab .CollaboratorsFormContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.WorldCollaboratorsTab .CollaboratorsListHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.WorldCollaboratorsTab .CollaboratorsCount {
  color: var(--text-on-secondary);
  font-size: 13px;
}

.WorldCollaboratorsTab .CollaboratorsList {
  background-color: var(--black);
  border-radius: 8px;
  height: max-content;
  flex-shrink: 0;
  max-height: 300px;
  overflow-y: auto;
}

.WorldCollaboratorsTab .EmptyList {
  color: var(--dcl-silver);
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.WorldCollaboratorsTab .TableRow {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 180px 32px;
  align-items: center;
  justify-items: center;
  padding: 8px 16px;
}

.WorldCollaboratorsTab .CollaboratorsHeaderRow {
  color: var(--light-gray);
  border-bottom: 1px solid var(--dcl-silver);
}

.WorldCollaboratorsTab .CollaboratorsHeaderRow .MuiSvgIcon-root {
  width: 16px;
  height: 16px;
}

.WorldCollaboratorsTab .CollaboratorsHeader {
  justify-self: flex-start;
}

.WorldCollaboratorsTab .LocationHeader {
  display: flex;
  align-items: center;
  gap: 4px;
}
